.vscode

log
.dub
docs.json
__dummy.html
docs/
test


/getsomelock
getsomelock.so
getsomelock.dylib
getsomelock.dll
getsomelock.a
getsomelock.lib
getsomelock-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

*.log
*.dll

logo.ico
logo.png
